
body {background-color: #bdd5eb;}
form {color: rgb(107, 0, 102); font-family: verdana; text-align: center; font-size: 150%;}
button {background:rgb(129, 129, 129); color:rgb(228, 228, 228); font-family: 'Courier New', Courier, monospace; 
        font-weight: bolder ; font-size: 90%;}
span {color:rgb(66, 57, 105); font-family: arial ; font-size: 70%;}
